.contact {
  font-family: $font-primary;
  position: fixed;
  top: 50%;
  left: -9rem;
  transform: translateY(-50%);
  z-index: $layer-contact;
  visibility: visible;
  @media screen and (max-width: 768px) {
    visibility: hidden;
  }
  // @media only screen and (min-width: 100em) {
  //   left: -12.5rem;
  // }
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__link {
    &:visited,
    &:link {
      display: block;
      color: var(--primary-btn-txt);
      font-size: 28px;
      padding: 12px;
      transition: all 450ms $cubic-bezier-primary;
      text-decoration: none;
      // @media only screen and (min-width: 100em) {
      //   padding: 1.5rem;
      //   font-size: 32px;
      // }
    }
    &-linkedin {
      background-color: $color-linkedin;
    }
    &-github {
      background-color: $color-github;
    }
    &-resume {
      background-color: $color-resume;
    }
    &-twitter {
      background-color: $color-twitter;
    }
    &:hover,
    &:active,
    &focus {
      transform: translateX(5.5rem);
    }
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3rem;
    margin-right: 1.2rem;
    width: 5rem;
    text-align: right;
    // letter-spacing: 1px;
    // @media only screen and (min-width: 100em) {
    //   width: 10.8rem;
    // }
  }
}
